.clr {
  *zoom: 1;
}

.clr:after {
  content: " ";
  display: table;
  clear: both;
}

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: 'montserrat';
  src: url("../../fonts/montserrat-bold-webfont.eot");
  src: url("../../fonts/montserrat-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../../fonts/montserrat-bold-webfont.woff2") format("woff2"), url("../../fonts/montserrat-bold-webfont.woff") format("woff"), url("../../fonts/montserrat-bold-webfont.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'montserrat';
  src: url("../../fonts/montserrat-regular-webfont.eot");
  src: url("../../fonts/montserrat-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../../fonts/montserrat-regular-webfont.woff2") format("woff2"), url("../../fonts/montserrat-regular-webfont.woff") format("woff"), url("../../fonts/montserrat-regular-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'roboto';
  src: url("../../fonts/roboto-light-webfont.eot");
  src: url("../../fonts/roboto-light-webfont.eot?#iefix") format("embedded-opentype"), url("../../fonts/roboto-light-webfont.woff2") format("woff2"), url("../../fonts/roboto-light-webfont.woff") format("woff"), url("../../fonts/roboto-light-webfont.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

/* 
 * 	Core Owl Carousel CSS File
 *	v1.3.3
 */
/* clearfix */
.owl-carousel .owl-wrapper:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

/* display none until init */
.owl-carousel {
  display: none;
  position: relative;
  width: 100%;
  -ms-touch-action: pan-y;
}

.owl-carousel .owl-wrapper {
  display: none;
  position: relative;
  -webkit-transform: translate3d(0px, 0px, 0px);
}

.owl-carousel .owl-wrapper-outer {
  overflow: hidden;
  position: relative;
  width: 100%;
}

.owl-carousel .owl-wrapper-outer.autoHeight {
  -webkit-transition: height 500ms ease-in-out;
  -moz-transition: height 500ms ease-in-out;
  -ms-transition: height 500ms ease-in-out;
  -o-transition: height 500ms ease-in-out;
  transition: height 500ms ease-in-out;
}

.owl-carousel .owl-item {
  float: left;
}

.owl-controls .owl-page,
.owl-controls .owl-buttons div {
  cursor: pointer;
}

.owl-controls {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

/* mouse grab icon */
.grabbing {
  cursor: url(../../img/grabbing.png) 8 8, move;
}

/* fix */
.owl-carousel .owl-wrapper,
.owl-carousel .owl-item {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'montserrat', sans-serif;
  color: #fff;
}

.wrapper {
  margin: 0 auto;
  max-width: 940px;
}

.header {
  max-width: 1440px;
  background: url(../../img/bg-header.jpg) no-repeat center;
  height: 700px;
  margin: 0 auto;
  padding-top: 39px;
  text-align: center;
}

.header__logo {
  float: left;
}

.header__logo > a {
  display: block;
  font-size: 21px;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  font-weight: bold;
  margin-top: 9px;
}

.header__login-box {
  float: right;
}

.header__login, .header__signup {
  display: inline-block;
  font-size: 14px;
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  padding: 8px  16px;
}

.header__signup {
  border: 2px solid #fff;
  border-radius: 20px;
}

.header__title {
  font-size: 52px;
  text-transform: uppercase;
  text-align: center;
  margin-top: 145px;
  margin-bottom: 27px;
  line-height: 60px;
}

.header__text {
  text-align: center;
  font-size: 24px;
  font-family: 'roboto';
  margin-bottom: 38px;
}

.header__btn {
  display: inline-block;
  background-color: #ff4e50;
  font-size: 14px;
  padding: 13px 24px;
  border-radius: 20px;
  text-decoration: none;
  color: #fff;
}

.slider {
  padding-top: 97px;
}

.slider__wrap {
  text-align: justify;
  line-height: 0;
  font-size: 1px;
  zoom: 1;
  text-align-last: justify;
}

.slider__wrap:after {
  width: 100%;
  height: 0px;
  visibility: hidden;
  overflow: hidden;
  content: '';
  display: inline-block;
}

.slider__title {
  text-align: center;
  font-weight: bold;
  font-size: 22px;
  color: #333333;
  margin-bottom: 36px;
}

.slider__item {
  display: inline-block;
  width: 32%;
  line-height: normal;
  font-size: 14px;
  vertical-align: top;
}

.owl-carousel__item {
  width: 100%;
  background-color: #e7e7e7;
  background-position: center center;
  background-repeat: no-repeat;
  border-radius: 5px;
  height: 400px;
}

.owl-carousel__item--step1 {
  background-image: url(../../img/slider1.jpg);
}

.owl-carousel__item--step2 {
  background-image: url(../../img/slider2.jpg);
}

.owl-carousel__item--step3 {
  background-image: url(../../img/slider3.jpg);
}
